/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-color: #000000;
}

#display {
    -fx-background-color:#111111;
    -fx-padding:10;
}
.button {
    -fx-background-color:#000000;
    -fx-text-fill:#ffffff;
    -fx-font-family: "sans-serif";
    -fx-font-size:24;
}
.label {
    -fx-background-color:#111111;
    -fx-text-fill:#ffffff;
}